body,html{
    overflow-x: hidden !important;
}





.grandparent{
    background: url(images/analog-landscape-city-with-buildings.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
    width: auto;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.grandparent::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.568);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.words{
    z-index: 20;
}
img{
    width: 100%;
}

.img img{
    width: 400px;
    height: 300px;
}

.parent{
    display: grid;
    place-items: center;
    padding-top: 100px;
}

.words h2{
    font-size:50px ;
    color:#fff;
    font-weight: bolder;
}

.words small{
    color:rgb(159, 159, 243);
    font-size: 25px;
    text-decoration-line: underline;
    text-decoration-color: #fff;
    letter-spacing: 2px;
}

.grandparent2{
    text-align: center;
    padding-top: 50px;

}

.grandparent2 h1{
    font-size: 40px;
    color:  #0d0d4d;
    letter-spacing: 5px;
}

.grandparent2 p{
    padding: 0;
    margin: 0;
    color: gray;
}

.grandparent2 h5{
    font-style: oblique;
    color: #0d0d4d;
    font-size: 25px;
    letter-spacing: 4px;
}

.grandparent3{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 50px;
}

.box111{
    width: 400px;
    height: 150px;
    background-color: rgba(228, 192, 101, 0.603);
    text-align: center;
    display: grid;
    place-items: center;
    
}

.box111 p{
    color: #0d0d4d;
    font-size: 25px;
    font-weight: bolder;
}


.grandparent7{

    padding-top: 150px;
}

.touch{
    text-align: center;
}

.touch h4{
    font-size: 40px;
    font-weight: bolder;
    color: #0d0d4d;
}

.touch small{
    color: #0d0d4d;
    font-weight: 500;
    font-size: 20px;
    line-break: 4px;
}
form{
    max-width: 400px;
    margin: 50px auto;

}

.text{
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #0d0d4d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
}



.form button{
   margin-left: 170px;
   margin-top: 10px ;
   padding: 5px 25px;
   background-color: #0d0d4d;
   border: 1px solid #0d0d4d;
   color: #ffffff;
}


.line{
    background-color: #0d0d4d;
    height: 50px;
}

.linecode{
    color: #0d0d4d;
    padding: 50px 70px;
}


.linecode h1{
    text-align: center;
    font-size: 40px;
    color: #0d0d4d;
    line-break: 7px;
}



.follow{
    display: flex;
    justify-content: center;
    gap: 200px;
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
}


.footer{
    position: relative;
}


@media (max-width:767px) {
    /* body{
        overflow-x: hidden;
    } */
    
    
    
    
    
    .grandparent{
        background: url(images/analog-landscape-city-with-buildings.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: fill;
        width: auto;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }
    .grandparent::after{
        content: "";
        background-color: rgba(0, 0, 0, 0.274);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    img{
        width: 100%;
    }
    
    .img img{
        display: none;
    }
    
    .parent{
        display: grid;
        place-items: center;
        padding-top: 100px;
    }
    .words{
        z-index: 20;
        text-align: center;
    }
    .words h2{
        font-size:50px ;
        color:#fff;
        font-weight: bolder;
    }
    .words h2{
        z-index: 20 !important;
    }
    .words small{
        color:rgb(159, 159, 243);
        font-size: 15px;
        letter-spacing: 3px;
        text-decoration-color: #fff;
        letter-spacing: 2px;
    }
    
    .grandparent2{
        text-align: center;
        padding-top: 50px;
    
    }
    
    .grandparent2 h1{
        font-size: 40px;
        color:  #0d0d4d;
        letter-spacing: 5px;
    }
    
    .grandparent2 p{
        padding: 0;
        margin: 0;
        color: gray;
    }
    
    .grandparent2 h5{
        font-style: oblique;
        color: #0d0d4d;
        font-size: 25px;
        letter-spacing: 4px;
    }
    
    .grandparent3{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 50px;
    }
    
    .box111{
        width: 400px;
        height: 150px;
        background-color: rgba(228, 192, 101, 0.603);
        text-align: center;
        display: grid;
        place-items: center;
        
    }
    
    .box111 p{
        color: #0d0d4d;
        font-size: 25px;
        font-weight: bolder;
    }
    
    
    .grandparent7{

        padding-top: 100px;
    }
    
    .touch{
        text-align: center;
    }
    
    .touch h4{
        font-size: 30px;
        font-weight: bolder;
        color: #0d0d4d;
    }
    
    .touch small{
        color: #0d0d4d;
        /* font-weight: 300; */
    }
    form{
        max-width: 270px;
        margin: 40px auto;
    
    }
    
    .text{
        font-size: 20px;
        box-sizing: border-box;
        width: 100%;
        border: 2px solid #0d0d4d;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 40px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    
    
    
    .form button{
       margin-left: 170px;
       margin-top: 10px ;
       padding: 5px 25px;
       background-color: #0d0d4d;
       border: 1px solid #0d0d4d;
       color: #ffffff;
    }
    
    .follow{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
        position: absolute;
        top: 65%;
        bottom: 0;
        left: 0;
        right: 0;
        color: #ffffff;
    }
    
    .svg1 svg{
        height: 600px;
    }
    
    .follow2{
        color: #0d0d4d;
    }
    
    
    .footer{
        position: relative;
    }
    
    
}